body {
    background-color: #121212;
    color: #e0e0e0;
}

.form-control,
.form-select,
.form-check-label,
.form-check-input {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #333;
}

.form-control:focus,
.form-select:focus {
    border-color: #666;
    box-shadow: none;
}

a {
    text-decoration: none;
    color: inherit;
  }


.card {
    background-color: #1e1e1e;
    border-color: #333;
    color: #e0e0e0;
  }
  .card:hover {
    border-color: #666;
  }
  .collapsed .nav-link {
    padding: 0.5rem 0.25rem;
    text-align: center;
  }